<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.samtuit.samapp.main">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="uz.samtuit.samapp.util.GlobalsClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".LogoActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMap"
            android:theme="@style/AppTheme" />
        <activity android:name=".ItemsListActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ItemActivity" />
        <activity android:name=".LanguageSettingActivity" />
        <activity android:name=".AboutCityActivity" />
        <activity
            android:name=".WizardDaySelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WizardCourseSelectActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SuggestedItineraryActivity" />
        <activity android:name=".MainMenu" />
        <activity android:name=".AboutAppActivity" />
        <activity android:name=".SettingsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".TourFeatureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <receiver
            android:name=".DownloadCompleteReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
