<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.samtuit.sammap.samapp" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".MainMap"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main_map" >
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name=".HotelsActivity"
            android:label="@string/title_activity_hotels" >
        </activity>
        <activity
            android:name=".AboutCityActivity"
            android:label="@string/title_activity_about_city" >
        </activity>
        <activity
            android:name=".AttractionsActivity"
            android:label="@string/title_activity_attractions" >
        </activity>
        <activity
            android:name=".FoodAndDrinkActivity"
            android:label="@string/title_activity_food_and_drink" >
        </activity>
        <activity
            android:name=".ShoppingActivity"
            android:label="@string/title_activity_shopping" >
        </activity>
        <activity
            android:name=".HotelActivity"
            android:label="@string/title_activity_hotel" >
        </activity>
        <activity
            android:name=".AboutAppActivity"
            android:label="@string/title_activity_about_app" >
        </activity>
        <activity
            android:name=".MyScheduleActivity"
            android:label="@string/title_activity_my_schedule" >
        </activity>
        <activity
            android:name=".ItineraryWizardActivity"
            android:label="@string/title_activity_itinerary_wizard" >
        </activity>
        <activity
            android:name=".TrainsTimeTableActivity"
            android:label="@string/title_activity_trains_time_table" >
        </activity>
        <activity
            android:name=".TashkentSamarkandActivity"
            android:label="@string/title_activity_tashkent_samarkand" >
        </activity>
    </application>

</manifest>
